* {
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none !important;
}

#collapsibleNavbar > ul > li > a:hover {
    color: yellow !important;
}
.bg-pink {
    background-color: deeppink !important;
}

#ContentPlaceHolder1_GridView1 > tbody > tr:nth-child(1) {
    background-color: hotpink !important;
}

#ContentPlaceHolder1_GridView2 > tbody > tr:nth-child(1) {
    background-color: hotpink !important;
}

#ContentPlaceHolder1_GridView3 > tbody > tr:nth-child(1) {
    background-color: hotpink !important;
}

    #ContentPlaceHolder1_GridView1 > tbody > tr:nth-child(1) a:hover {
        color: red !important;
    }

#ContentPlaceHolder1_GridView1 * {
    border-color: rgb(255,6,220) !important;
}

#ContentPlaceHolder1_GridView2 * {
    border-color: rgb(255,6,220) !important;
}

#ContentPlaceHolder1_GridView3 * {
    border-color: rgb(255,6,220) !important;
}

#ContentPlaceHolder1_DetailsView1 td {
    border-color: rgb(255,6,220) !important;
}

#ContentPlaceHolder1_DetailsView2 td {
    border-color: rgb(255,6,220) !important;
}

table a {
    color: black;
}

td a {
    color: red;
}

td a:hover {
        color: green;
 font-style: italic;
}

input[type='text'] {
    width: 300px;
}

#form1 > nav:nth-child(5) > div > div:nth-child(2) > p {
    line-height: 30px;
}


#ContentPlaceHolder1_DetailsView1 , #ContentPlaceHolder1_DetailsView2 {
    width: 30% !important;
}

td[colspan="2"] {
    background-color: hotpink;
}